.about {
    padding-top: 100px;
    overflow-x: hidden;
}
.about__inner{
    display: flex;
    align-items: center;
    gap: 0 100px;
    justify-content: center;
}
.about__image {
    max-width: 450px;
    max-height: 450px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about__content {
}
.about__subtitle {
    max-width: 150px;
    width: 100%;
}
.about__subtitle::after{
}
.about__title {
    max-width: 500px;
    width: 100%;
    margin-bottom: 30px;
}
.about__text {
    max-width: 550px;
    width: 100%;
    margin-bottom: 20px;
}
.about__button {
    display: block;
    max-width: 127px;
    width: 100%;
}

@media (max-width: 900px){
    .about {
        padding-top: 30px;
    }
    .about__inner{
        flex-direction: column-reverse;
        row-gap: 60px;
    }
}