.rooms {
    padding-top: 100px;
    padding-bottom: 100px;
    overflow-x: hidden;
}
.rooms__inner {
}
.rooms__subtitle {
    max-width: 220px;
    width: 100%;
}
.rooms__title{
    max-width: 550px;
    width: 100%;
    margin-bottom: 50px;
}
.rooms__items {
    display: flex;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
}
.rooms__item {
    position: relative;
    padding-bottom: 30px;
    -webkit-box-shadow: 2px 3px 7px 3px rgba(0,0,0,0.13); 
    box-shadow: 2px 3px 7px 3px rgba(0,0,0,0.13);
    max-width: 368px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.rooms__item-content{
    padding: 0px 15px;
}
.rooms__item-img {
    max-width: 368px;
    max-height: 245px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.rooms__item-title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 15px;
}
.rooms__item-text {
    max-width: 350px;
    width: 100%;
    margin-bottom: 15px;
}
.rooms__item-price {
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0.828);
}
.rooms__item-price span{
    font-weight: 600;
}
.rooms__item-button {
}
.rooms__item-icons {
     display: flex;
     position: absolute;
     right: 30px;
     top: 180px;
     column-gap: 15px;
}
.ri-heart-fill {
    background-color: var(--colorWhite);
    border-radius: 50%;
    font-size: 25px;
    padding: 7px;
    color: var(--primaryColor);
    cursor: pointer;
}
.ri-paint-fill {
    background-color: var(--colorWhite);
    border-radius: 50%;
    font-size: 25px;
    padding: 7px;
    color: rgba(102, 51, 153, 0.497);
    cursor: pointer;
}
.ri-shield-star-line {
    background-color: var(--colorWhite);
    border-radius: 50%;
    font-size: 25px;
    padding: 7px;
    color: rgb(50, 149, 143);
    cursor: pointer;
}

@media (max-width: 1000px){
    .rooms {
        padding-bottom: 50px;
    }
}
